customer_support_email_agent.json
{
  "name": "customer-support-email-agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "53e3d987-645c-4c34-af4a-e5aa8784db4d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TlQY7jL3KXTd6O8Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c5c8543-b3c2-4821-add6-227a04fc6b5c",
              "name": "emailBody",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "69def090-255e-4c20-aba0-d45d2325713f",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "3df468dc-860a-4d30-a2c5-b332123160db",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "708f563b-5d3b-402f-9da3-9b8f4d4374ad",
      "name": "Set Content"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Prompt:\nAnalyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true; otherwise, mark it as false.\n\nCustomer Support Topics Include:\n\nQuestions about order status, tracking, or changes  \nIssues with damaged or defective products  \nRefund or return requests  \nSubscription cancellations or adjustments  \nTechnical issues with products, website, or app  \nPayment or billing inquiries  \nRequests for speaking with a support representative\n\nOutput:\nProvide the result in JSON format with a field named \"customerSupport\" set to true or false.\n",
              "role": "system"
            },
            {
              "content": "=Here is the incoming email: {{ $json.emailBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        0
      ],
      "id": "28103639-728f-40be-9c5b-31c60a9f6aec",
      "name": "Customer Support Eval",
      "credentials": {
        "openAiApi": {
          "id": "ml6zdWXgZeBHamQ4",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f8a1b883-dffd-448c-abf8-a8bdb53df917"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff138d16-29a0-42ba-a0ad-2863f6c85ddc",
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        820,
        0
      ],
      "id": "652bedce-5ab0-4e2b-bb75-3cc992b3c372",
      "name": "Customer Support?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Content').item.json.emailBody }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# System Role\nYou are a highly skilled and empathetic customer support agent specializing in drafting professional and helpful responses to incoming customer emails.\n\n# Task Specification\n1. Take an incoming customer support email.\n2. Use the **\"customerSupportDocs\"** tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n3. Create a draft response using the **\"createDraft\"** tool.\n4. After drafting the email, provide a concise summary of the email content.\n\nEnsure the response:\n- Directly addresses the customer's query.\n- Maintains a polite and professional tone.\n- Ends with the sign-off:  \n  **\"Arjun, Customer Support ABC Corp.\"**\n\n# Specifics and Context\n- You must use the **\"customerSupportDocs\"** tool before drafting to ensure the response aligns with company policies and FAQs.\n- The **\"createDraft\"** tool must be used to finalize and prepare the draft for sending.\n- The summary should briefly explain the issue addressed and the key points or resolution provided in the response and should also return the draft ID using the output parser.\n\n\n# Examples\n## Example 1\n**Incoming Email:**  \n\"I ordered a product a week ago, but it still hasn't shipped. When will it arrive?\"\n\n**customerSupportDocs Search Query:**  \n\"shipping timelines\"\n\n**Relevant Info Found:**  \nStandard shipping takes 7–10 business days. Delays may occur during high-demand periods.\n\n**Draft Response (via createDraft):**  \nDear {{ $('Gmail Trigger').item.json.from.value[0].name }}  \n\nThank you for reaching out regarding your order. Standard shipping typically takes 7–10 business days. However, during high-demand periods, there may be slight delays.  \n\nI’ve checked your order, and it’s currently being prepared for shipment. You should receive a tracking number shortly. If you have any further questions, feel free to let me know.  \n\nBest regards,  \nArjun, Customer Support ABC Corp  \n\n**Summary:**  \nDrafted a response to inform the customer about shipping timelines (7–10 business days) and noted that their order is being prepared for shipment. Included reassurance and an invitation for further inquiries.And here is the [draft ID].\n\n\n---\n\n## Example 2\n**Incoming Email:**  \n\"I tried to cancel my subscription but was still charged this month. Can I get a refund?\"\n\n**customerSupportDocs Search Query:**  \n\"subscription cancellation policy\"\n\n**Relevant Info Found:**  \nCancellations must be made 48 hours before the next billing cycle to avoid charges.\n\n**Draft Response (via createDraft):**  \nDear {{ $('Gmail Trigger').item.json.from.value[0].name }},  \n\nThank you for contacting us about your subscription charge. Our records show the cancellation was processed after the billing cycle had begun. To avoid future charges, cancellations must be made at least 48 hours prior to the next billing cycle.  \n\nAs a courtesy, I’ve initiated a refund for this month’s charge. Please allow 3–5 business days for the refund to appear on your statement.  \n\nIf you have any other questions, feel free to reach out.  \n\nBest regards,  \nArjun, Customer Support ABC Corp  \n\n**Summary:**  \nDrafted a response explaining the subscription cancellation policy (48-hour notice) and initiated a one-time refund as a courtesy. Provided reassurance and invited further questions. And here is the [draft ID].\n\n# Reminders\n- Always use **\"customerSupportDocs\"** to ensure responses align with company policies and FAQs.\n- Use the **\"createDraft\"** tool to finalize the email draft.\n- Summarize the draft concisely, covering the issue addressed and the resolution or key points provided.\n- Maintain a polite, professional, and empathetic tone.\n- Dont forget to return the draft ID\n- Always sign off as:  \n  **\"Arjun, Customer Support ABC Corp.\"**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1320,
        -380
      ],
      "id": "b2dd83e6-1e85-4e31-9cd0-b86249d7729e",
      "name": "Customer Support Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        -100
      ],
      "id": "9c03f807-3a0b-4ac2-ad9d-81598ea0c04e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ml6zdWXgZeBHamQ4",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieves information about customer support policies and FAQs"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1420,
        80
      ],
      "id": "dbbc2912-7c8a-4faf-bdfb-bd6be470f1d5",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample2",
          "mode": "list",
          "cachedResultName": "sample2"
        },
        "options": {
          "pineconeNamespace": "customerSupport"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1320,
        360
      ],
      "id": "7ffdbb9b-f40a-4139-b34c-6b472836d721",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YgfOVMinM7BMCyvk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        440
      ],
      "id": "c88edd15-37e3-41db-9a17-e923b6c1e78e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ml6zdWXgZeBHamQ4",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        580
      ],
      "id": "61601f3b-6072-4e0f-8d8c-c99756a78ae6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ml6zdWXgZeBHamQ4",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5749553717",
        "text": "={{ $('Edit Fields').item.json.summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        -400
      ],
      "id": "d2360703-df9b-4acf-9c0f-c5a98e3da15d",
      "name": "Response",
      "webhookId": "f77fc140-cabf-4945-8b7e-dea7fe071d2a",
      "credentials": {
        "telegramApi": {
          "id": "aapzGLNK9t1t7JEx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5749553717",
        "text": "=You received an email at {{$now.format('HH:mm')}} saying:\n\n{{ $('Set Content').item.json.emailBody }}\n\nfrom {{ $('Set Content').item.json.from }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1020,
        220
      ],
      "id": "a7500bdf-247c-4e31-8f32-16002389b3e2",
      "name": "Response1",
      "webhookId": "f77fc140-cabf-4945-8b7e-dea7fe071d2a",
      "credentials": {
        "telegramApi": {
          "id": "aapzGLNK9t1t7JEx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $('Set Content').item.json.threadID }}",
          "sendTo": "={{ $('Set Content').item.json.from}}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1960,
        180
      ],
      "id": "87fdd5b1-982d-4847-a1e5-9c81f8da7bcd",
      "name": "Drafter",
      "webhookId": "fa4b2678-3d62-4f06-b943-9261c8e92df9",
      "credentials": {
        "gmailOAuth2": {
          "id": "TlQY7jL3KXTd6O8Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3716b21-6416-42e3-b298-c2f134cda289",
              "name": "message",
              "value": "={{ $json.output.message }}",
              "type": "string"
            },
            {
              "id": "0054c592-2979-408e-bb05-157e8978d733",
              "name": "draftId",
              "value": "={{ $json.output['draft ID'] }}",
              "type": "string"
            },
            {
              "id": "bfd331b1-de76-4040-9090-aefd50a641a7",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        -380
      ],
      "id": "292d9ab6-9143-4138-8d33-ecf0a4282700",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"draft ID\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2120,
        140
      ],
      "id": "6aa02704-eac8-4cf6-ab22-b13821d1c1eb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://4467-2406-7400-ff03-4eb9-cc8e-d58a-93d1-80d0.ngrok-free.app/email-hook/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "draftId",
              "value": "={{ $json.draftId }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "=mail",
              "value": "={{ $('Gmail Trigger').item.json.text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -380
      ],
      "id": "b64c2f55-7c5a-4e3c-b9cf-04e3be9f6e23",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "afc25f26-6316-4bda-b01f-424b4cb1b511",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2180,
        -100
      ],
      "id": "5739019a-7707-4bb9-9769-bfd1fe4b4bd9",
      "name": "Webhook",
      "webhookId": "afc25f26-6316-4bda-b01f-424b4cb1b511"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "delete",
        "messageId": "={{ $('Get Draft').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2860,
        -100
      ],
      "id": "ed87fa64-242c-4ea5-b681-cb379f8d7354",
      "name": "Delete draft",
      "webhookId": "3cfa2f0a-5455-4cb0-8eb4-421a04379e5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TlQY7jL3KXTd6O8Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json.body[0].draftId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2380,
        -100
      ],
      "id": "56fb765e-37a4-4ebc-ab89-1457c4d6a8c1",
      "name": "Get Draft",
      "webhookId": "ebcd9b3a-c82f-4d4a-9706-231b685e34c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "TlQY7jL3KXTd6O8Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to.value[0].address }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2600,
        -100
      ],
      "id": "944c9c10-d83b-4416-923b-66c4f3a69f64",
      "name": "Trigger sending draft",
      "webhookId": "b83145f7-fadc-4594-9dab-f0419264a259",
      "credentials": {
        "gmailOAuth2": {
          "id": "TlQY7jL3KXTd6O8Y",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "Customer Support Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Eval": {
      "main": [
        [
          {
            "node": "Customer Support?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support?": {
      "main": [
        [
          {
            "node": "Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Drafter": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Draft": {
      "main": [
        [
          {
            "node": "Trigger sending draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger sending draft": {
      "main": [
        [
          {
            "node": "Delete draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete draft": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ee2b460-59f9-4a0d-82a8-38a5ea07fce8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2416e82094f0685f8100fd66285d25a07fb22c13e500d9aafb35b70e3b15b60"
  },
  "id": "B9ZdmVqU2xfQzVKH",
  "tags": []
}